<section id="section-banner">
  <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/../../assets/img/x-box.jpg" class="d-block w-100" alt="xbox banner">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="texto-banner">Jogos de XBOX e Xbox live</h2>
          <p class="texto-banner fs-5">Aqui Você encontra jogos para seu xbox e microsoft store.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/../../assets/img/playstation.jpg" class="d-block w-100" alt="playstation banner">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="texto-banner">Jogos da Playstation Store</h2>
          <p class="texto-banner fs-5">Todos os seus exclusivos da playstation store e mais!.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/../../assets/img/catalogue.jpg" class="d-block w-100" alt="pc catalogue banner">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="texto-banner">Imenso catalogo em Desktops</h2>
          <p class="texto-banner fs-5">catalogo diverso de todas as lojas para seu computador.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section> <!--Fim banner-->
<section id="linhaProd">
  <div class="container-fluid mt-3 mx-sm-auto"> <!--Placeholder products-->
    <div class="row">
      <div class="col-sm-2 col-md mb-3">
        <a class="produtobox" style="text-decoration: none;">
          <div id="productDetails">
            <img src="/../../assets/img/minecraft.jpg">
            <p class="text-black fw-semibold px-1">Minecraft Java midia digital[PC]</p>
            <span class="fw-semibold text-decoration-line-through px-1 fs-5" style="color: #FF8B20;">1200R$</span> ->
            <span class="fs-5 fw-semibold text-success"> 985,00 R$<br></span> <span class="px-1 fs-6 text-success">a
              vista ou no boleto</span>
            <a class="btn btn-success w-100" href="#buycart">
              COMPRAR | ADD AO CARRINHO
            </a>
          </div>
        </a>
      </div>
      <div class="col-sm-2 col-md mb-3">
        <a class="produtobox" style="text-decoration: none;">
          <div id="productDetails">
            <img src="/../../assets/img/steamdeck.jpg">
            <p class="text-black fw-semibold px-1">Console Steam Deck 64GB</p>
            <span class="fs-5 fw-semibold text-success px-1"> 3.100,00 R$<br></span> <span
              class="px-1 fs-6 text-success">a vista ou no boleto</span>
            <a class="btn btn-success w-100" href="#buycart">
              COMPRAR | ADD AO CARRINHO
            </a>
          </div>
        </a>
      </div>
      <div class="col-sm-2 col-md mb-3">
        <a class="produtobox" style="text-decoration: none;">
          <div id="productDetails">
            <img src="/../../assets/img/Grand_Theft_Auto_Vice_City_capa.png">
            <p class="text-black fw-semibold px-1">Grand Theft Auto Vice City [PC].</p>
            <span class="fw-semibold text-decoration-line-through px-1 fs-5" style="color: #FF8B20;">360,20 R$</span> ->
            <span class="fs-5 fw-semibold text-success"> 200,00 R$<br></span> <span class="px-1 fs-6 text-success">a
              vista ou no boleto</span>
            <a class="btn btn-success w-100" href="#buycart">
              COMPRAR | ADD AO CARRINHO
            </a>
          </div>
        </a>
      </div>
      <div id="cardprod" class="col-sm-2 col-md mb-3">
        <a class="produtobox" style="text-decoration: none;">
          <div id="productDetails">
            <img src="/../../assets/img/testdrive2.jpg">
            <p class="text-black fw-semibold px-1">TDU 2 Digital[PlayStation].</p>
            <span class="fw-semibold text-decoration-line-through px-1 fs-5" style="color: #FF8B20;">380,30 R$</span> ->
            <span class="fs-5 fw-semibold text-success"> 130,00 R$<br></span> <span class="px-1 fs-6 text-success">a
              vista ou no boleto</span>
            <a class="btn btn-success w-100" href="#buycart">
              COMPRAR | ADD AO CARRINHO
            </a>
          </div>
        </a>
      </div>
      <div class="col-sm-2 col-md mb-3">
        <a class="produtobox" style="text-decoration: none;">
          <div id="productDetails">
            <img src="/../../assets/img/lgStarWArs.jpg">
            <p class="text-black fw-semibold px-1">Lego star wars [PC/PS/XBOX].</p>
            <span class="fw-semibold text-decoration-line-through px-1 fs-5" style="color: #FF8B20;">380,30 R$</span> ->
            <span class="fs-5 fw-semibold text-success"> 110,00 R$<br></span><span class="px-1 fs-6 text-success">a
              vista ou no boleto</span>
            <a class="btn btn-success w-100" href="#buycart">
              COMPRAR | ADD AO CARRINHO
            </a>
          </div>
        </a>
      </div>
    </div>
  </div> <!--END PLACE PRODUCTS-->
</section>