.example-spacer {
    flex: 1 1 auto;
}
.botaoNav{
    margin-right: 10px;
}
.text-light{
    font-weight: 500;
    font-size: 1.5em;
}
.logo{ /* Logo atributes */ 
    height: 50px;
    width: 50px;
}
#loginUser{
    margin: auto 5px;
    font-weight: 400;
    font-size: 1.3em;
    color: white;
}
#linklogo:hover{
    text-decoration: none;
}
nav{
    min-width: 384px;
}