<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span style="margin-right: 5px; border: 1px solid white; border-radius: 3px;"><a routerLink="/restrito/lista">Listar Produtos</a></span>
    <span style="border: 1px solid white; border-radius: 3px;"><a routerLink="/restrito/cadastro">Cadastrar Produto</a></span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="logout()">
      <span class="material-icons">logout</span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>