<div class="container-fluid bg-dark mt-2" id="rodape">
    <div class="row py-2 d-flex justify-content-evenly align-items-center g-2">
        <span class="col-sm text-center"><a class="" href="#">QUEM SOMOS</a></span>
        <span class="col-sm text-center"><a href="#">CONTATOS</a></span>
        <span class="col-sm text-center"><a href="#">TRABALHE CONOSCO</a></span>
        <span class="col-sm text-center"><a href="#">PARCEIROS</a></span>
        <span class="col-sm text-center"><a href="#">FAQ</a></span>
    </div>
    <div class="d-flex align-items-center">
        <span id="creditos">Desenvolvido por Tnatan</span>
    </div>
</div>